<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}">Title</title>
    </head>
    <body>
        <h1 th:text="${title}"></h1>
        <a th:href="@{/list-products}">List of products. 🧾</a>
        <div>
            <form th:action="@{/form}" method="post" th:object="${product}" enctype="multipart/form-data">
                <!-- Se hacer eso para que el template tenga el id para la hora de hacer el edit - No es la mejor manera -->
                <!-- <input th:if="${product.id != null}" type="hidden" th:field="{id}"/> -->
                <!-- <input th:if="${product.image != null}" type="hidden" th:field="{image}"/> -->
                <div>
                    <label for="name">Name</label>
                    <input id="name" type="text" placeholder="Enter name of product..." th:field="*{name}"/>
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                </div>
                <div>
                    <label for="price">Price</label>
                    <input id="price" type="number" placeholder="Enter price of product..." th:field="*{price}"/>
                    <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
                </div>
                <div>
                    <label for="createAt">Create At</label>
                    <input id="createAt" type="date" placeholder="Enter date of product..." th:field="*{createAt}"/>
                </div>
                <div>
                    <label for="category.id">Categories</label>
                    <select th:field="*{category.id}">
                        <option value="">-- Select category...</option>
                        <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                    <small th:if="${#fields.hasErrors('category.id')}" th:errors="*{category.id}"></small>
                </div>
                <div>
                    <label for="image">Image</label>
                    <input id="image" type="file" name="file"/>
                </div>
                <div>
                    <input type="submit" th:value="${textButton}"/>
                </div>
            </form>
        </div>
    </body>
</html>