<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}">Title</title>
    </head>
    <body>
        <p th:if="${param.error} != null" th:text="${param.error}"></p>
        <p th:if="${param.succes} != null" th:text="${param.succes}"></p>
        <h1 th:text="${title}"></h1>
        <a th:href="@{/form}">Create a product. ➕</a>
        <br>
        <table>
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Create at</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <tr th:each="product: ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.createAt}"></td>
                    <th><a th:href="@{/form/} + ${product.id}">edit ✏️</a></th>
                    <th><a th:href="@{/delete/} + ${product.id}">deleted 🗑️</a></th>
                </tr>
            </tbody>
        </table>
    </body>
</html>