<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}">Title</title>
    </head>
    <body>
        <h1 th:text="${title}"></h1>
        <a th:href="@{/list-products}">List of products. 🧾</a>
        <br>
        <div>
            <img
                    style="max-width: 25%;"
                    th:if="${product.image != null && #strings.length(product.image) > 0}"
                    th:src="@{/upload/image/} + ${product.image}" th:alt="${product.name}"
            >
            <ul>
                <li th:text="${product.name}"></li>
                <li th:text="'ID ' + ${product.id}"></li>
                <li th:text="'Price ' + ${#numbers.formatCurrency(product.price)}"></li>
                <li th:text="'Create at ' + ${#calendars.format(product.createAt, 'dd/MM/yyyy')}"></li>
            </ul>
        </div>
    </body>
</html>